.title {
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 600;

}

.wrapper {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding: 0 30px;
}

.products {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.deliveryForm {
    width: 100%;
}

.form_title {
    font-size: 24px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 30px;
}