.cards {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    padding: 20px;
    margin: 20px 10px;
    border-radius: 8px;
    border: 2px solid #ddd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .card__to_favorite {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 40px;
        height: 40px;
        border: none;
        background-color: transparent;
        cursor: pointer;

        &:hover {
            transform: scale(1.2);
        }

        .active {
            fill: red;
        }
    }

    .card__header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .card__name {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 20px;
        color: #333;
    }

    .card__img {
        width: 60%;
        border-radius: 8px;
    }

    .card__text {
        font-size: 20px;
        font-weight: 500;
        color: #666;
    }

    .card__price {
        font-size: 24px;
        font-weight: 600;
        color: #555;
    }

    .button_to_cart {
        background-color: #2196F3;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
    
    .button_to_cart:hover {
        background-color: #0d8aff;
    }
}