.active {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.modal__content {
    width: 400px; 
    max-width: 90%; 
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    position: relative;
}

.modal__text {
    font-size: 18px;
    margin-bottom: 20px;
}

.modal__action_btn {
    background-color: #2196F3; /* Синий */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.modal__action_btn:hover {
    background-color: #0d8aff;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}