.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 30px;
    height: 80px;
   
    .title {
        display: inline-block;
        text-align: center;
        font-size: 22px;
        font-weight: 500;
        color: black;
    }

    .iconWrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 150px;

        .card,
        .favorite {
            width: 38px;
            height: 38px;
        }

        .home {
            width: 40px;
            height: 40px;
        }

        .card__caunter,
        .favorite__caunter {
            font-size: 18px;
            font-weight: 600;
        }

        .wrapper {
            display: flex;
            flex-direction: column;
            justify-content: end;

            .link {
                text-decoration: none;
                color: gray;
                fill: gray;

                &:hover {
                    color: black;
                    fill: black;
                }
            }
        }
    }
}
